.global-market-stats-bottom-bar {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 5px 5px calc(5px + env(safe-area-inset-bottom)) 5px;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 12px;
    border-top: 1px solid var(--border-color);
    margin-left: -12px;

    &.remove-shadow {
        box-shadow: unset;
        border-top: 1px solid var(--border-color);
    }

    .inner-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        .pair-container {
            display: flex;
            padding: 0px 8px;
            border-radius: 6px;
            width: max-content;

            &:last-child {
                margin-right: unset;
            }

            .name {
                margin-right: 4px;
                color: var(--grey-color-3);
            }

            .value {
                font-weight: 600;
                color: var(--text-color);
            }
        }
    }
}
