@use "@/styles/shared";

.global-market-stats-container {
    .gm-heading {
        @extend .st-heading;
    }

    .gm-body {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .group {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            padding: 12px;
            width: 100%;
            flex: 1;

            .label {
                font-size: 12px;
                margin-bottom: 8px;
            }

            .value {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
