.header-container {
    --both-sides-header-width: 182px;

    border-bottom: 1px solid var(--border-color);
    padding: 0 calc(10px + env(safe-area-inset-right)) 0px calc(10px + env(safe-area-inset-left));
    overflow-x: auto;
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
    width: 100%;
    z-index: 60;
    height: 45px;
    align-content: center;

    &::-webkit-scrollbar {
        display: none;
    }

    &.with-shadow {
        box-shadow: var(--bottom-box-shadow);
        border-bottom: unset;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-inline: auto;
        max-width: calc(var(--container-width) - 20px);

        .logo {
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--text-color);
            font-size: 20px;
            font-weight: 600;
            margin-right: 12px;
            min-width: var(--both-sides-header-width);
        }

        .header-right-side-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            min-width: var(--both-sides-header-width);
            height: 20px;

            .account-container {
                .user-icon {
                    text-align: center;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--profile-bg-color);
                    color: var(--text-color);
                    padding: 3px 10px;
                    border-radius: 50%;
                    border: 1px solid hsla(120, 39%, 90%, 1);
                    font-size: 16px;

                    .dark & {
                        background-color: var(--top-bg-color);
                        border-color: var(--top-bg-color);
                    }
                }

                .sign-in-btn {
                    background-color: var(--grey-color-1);
                    color: var(--text-color);
                    border: 1px solid var(--border-color);

                    &:hover {
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}

@media (width < 700) {
    .header-container {
        --both-sides-header-width: unset;
    }
}
