@use "@/styles/market-summary";
@use "@/styles/coin-analysis";
@use "@/styles/charts";
@use "@/styles/coins";
@use "@/styles/tooltip";
@use "@/styles/header";
@use "@/styles/st-dialog";
@use "@/styles/coin-details-dialog";
@use "@/styles/global-market-stats";
@use "@/styles/navigation-tab-bar";
@use "@/styles/footer";
@use "@/styles/coin-search-dialog";
@use "@/styles/trending";
@use "@/styles/sign-in";
@use "@/styles/form";
@use "@/styles/table";
@use "@/styles/news";
@use "@/styles/watchlist";
@use "@/styles/st-select";

body {
    color: var(--text-color);
}

::-webkit-scrollbar {
    height: 5px;
    width: 6px;
    background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: var(--scrollbar-thumb);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoom-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoom-out {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.body-wrapper {
    position: relative;
    min-height: 100dvh;
    background-color: var(--main-bg-color);

    .main-content {
        max-width: 100%;

        .container {
            padding: 12px calc(12px + env(safe-area-inset-right)) calc(48px + env(safe-area-inset-bottom))
                calc(12px + env(safe-area-inset-left));
            margin: auto;
            max-width: var(--container-width);
        }
    }

    .bottom-sticky-container {
        position: fixed;
        bottom: 0px;
        z-index: 99;
        width: 100%;
    }
}

.success-text {
    color: var(--success-color);
}

.danger-text {
    color: var(--danger-color);
}

.hz-and-vert-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-value-text {
    font-style: italic;
    text-align: right;
    color: var(--st-muted-color);
}

.divider {
    height: inherit;
    border-right: 1px solid var(--border-color);
}

.error-toast {
    color: #fafafa !important;
    font-size: 15px !important;
    background-color: var(--color-red-800) !important;
    border-color: var(--color-red-800) !important;
}

.success-toast {
    color: #fafafa !important;
    font-size: 15px !important;
    background-color: var(--color-green-800) !important;
    border-color: var(--color-green-800) !important;
}

.disable-element {
    pointer-events: none !important;
    color: gray !important;
    cursor: not-allowed !important;
    text-decoration: none !important;
}

.top-loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    width: 100%;
    height: 2px;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    .top-loading-bar-progress {
        width: 50%;
        height: 100%;
        background: var(--main-color);
        animation: top-loading-bar 1.8s ease-in-out infinite;
    }
}

.loading-overlay {
    position: fixed;
    user-select: none;
    pointer-events: none;
    cursor: progress;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--loading-bar-overlay-bg-color);
    backdrop-filter: blur(1px);
    z-index: 300;
}

@keyframes top-loading-bar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(400%);
    }
}

@media (width < 720) {
    .body-wrapper {
        padding-top: env(safe-area-inset-top);

        .main-content {
            .container {
                padding-bottom: calc(100px + env(safe-area-inset-bottom));
            }
        }
    }
}
