@use "@/styles/shared";

.market-summary-container {
    margin-bottom: 18px;

    .ms-heading {
        @extend .st-heading;
    }

    .ms-body {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .group {
            width: 100%;
            flex: 1;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            padding: 12px;

            .header {
                font-size: 12px;
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .more-link {
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    .lucide-chevron-right {
                        width: 13px;
                        margin-left: 1px;
                    }
                }
            }

            .ms-table-wrapper {
                overflow-x: auto;
                width: 100%;

                .table {
                    th,
                    td {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.coin-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
    font-weight: 500;
    cursor: pointer;
}
