.navigation-tab-bar {
    [data-slot="tabs"] {
        max-width: max-content;
        margin: auto;
        overflow: auto hidden;
        border-radius: var(--border-radius);

        [data-slot="tabs-list"] {
            background-color: var(--main-bg-color);
            border-radius: var(--border-radius);
            border: unset;
            box-shadow: unset;

            [data-active] {
                background-color: var(--tab-active-bg-color);
                color: var(--tab-active-text-color);
            }

            [data-slot="tooltip-trigger"],
            [data-slot="popover-trigger"] {
                min-width: unset;

                &:hover {
                    color: var(--tab-text-color);
                    background-color: unset;
                }
            }

            .tab-disabled {
                display: block;
                font-size: 14px;
                padding-inline: 7px;
                gap: 0.25rem;
                font-weight: 500;
            }

            button,
            a {
                min-width: 36px;
                max-width: max-content;
                color: var(--tab-text-color);

                svg {
                    width: 100%;
                }

                &:hover {
                    background-color: var(--tab-active-bg-color);
                    color: var(--tab-active-text-color);
                }

                &:disabled {
                    background-color: unset;
                    color: unset;

                    &:hover {
                        color: unset;
                    }
                }
            }

            a:hover {
                padding: 9px 0px 0px 0px;
            }
        }

        &.remove-shadow {
            box-shadow: unset;
        }
    }
}

@media (width < 720px) {
    .navigation-tab-bar {
        [data-slot="tabs"] {
            box-shadow: var(--box-shadow);

            [data-slot="tabs-list"] {
                border: 1px solid var(--border-color);
                box-shadow: var(--box-shadow);

                button,
                a {
                    min-width: 50px !important;
                }

                [data-slot="tabs-trigger"] {
                    padding: 4px 6px;
                }
            }
        }
    }
}
