[data-slot="sidebar-wrapper"],
[data-slot="sheet-portal"] {
    flex-wrap: wrap;
    flex-wrap: balance;

    .st-sidebar {
        --header-height: 45px;

        height: calc(100vh - var(--header-height));
        margin-top: var(--header-height);
        z-index: 100;
        padding: 0px 0px env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}
