[role="presentation"] {
    &[data-side="right"],
    [data-side="left"] {
        top: 0px !important;
        left: 12px !important;
    }

    &[data-side="top"] {
        top: -10px !important;
    }

    &[data-side="bottom"] {
        top: 8px !important;
    }

    .tooltip-content {
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        white-space: pre-line;

        &[data-side="top"] {
            animation-name: slideUp;
        }

        &[data-side="bottom"] {
            animation-name: slideDown;
        }

        &[data-side="right"] {
            animation-name: slideRight;
        }

        &[data-side="left"] {
            animation-name: slideLeft;
        }
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
