.main-container {
    width: 100%;
    height: 100dvh;

    .go-to-terminal-btn {
        background-color: var(--main-color);
        border-radius: 6px;
        padding: 4px 12px;
        font-weight: 500;
        color: var(--text-color);
        cursor: pointer;
    }
}
